body {
	background-color: #fff;
	font-style: "Noto Serif";
	margin: 0 auto;
	animation-name: body_a;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	width: 100%;
	
}
h1{
	color: #fff;
	font-family: 'Fjalla One';
	font-weight: normal;
	font-size: 80px;
	margin: 5px 0;
	animation-name: logo;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
@keyframes logo{
	0% {color:#f06; }
	50% {color:#4d001f;}
	100% {color:#f06;}
}
/*------------------------el header----------------------*/
@media screen and (min-width:700px) {
	.but_mobile{
		outline: none;
		background-color: #660029;
		color: white;
		width: 5em;
		height: 5em;
		position: absolute;
		float: left;
		top: 0px;
		left: 0px;
		border:0px;
		display: none;
	}
	.header_wrap{
		width: 820px;
		margin:0 auto;
		display: block;
	}
	.tittle{
		animation-name: tittle;
		animation-duration: 3s;
	}
	@keyframes tittle{
		from {opacity: 0.0;top:0px;right:820px;}
		to {opacity: 1.0;top: 0px;right: 0px;}
	}
	.bar_nav{
		width: 100%;
		height: 50px;
		background-color: #660029;
		position: relative;
	}
	.menu_w{
		width: 820px;
		margin:0 auto;
		height: 50px;
	}
	.nav{
		animation-name: nav;
		animation-duration: 2s;
		position:relative;
	}
	@keyframes nav{
		from {opacity: 0.0;top:0px;right:820px;}
		to {opacity: 1.0;top: 0px;right: 0px;}
	}
	.nav li{
		list-style-type: none;
		display: inline-block;
		margin: 0;
		margin-left: -4px;
	}
	.nav ul{
		padding-left:6px;
	}
	.body_wrap{
		width:820px;
		margin:0 auto;
	}
	.content{
		width: 820px;
		height: 600px;
		margin-top: 5px;
		border:2px solid #e6e6e6;
		border-radius: 5px;
	}
	.slider{
		margin-top: 5px;
		margin-left: 10px;
		width: 50%;
		height: 440px;
		background-color: white;
		float: right;
		margin-right: 5px;
	}
	.text{
		background-color: white;
		float:left;
		width: 50%;
		height: 430px;
		margin-left: 5px;
		margin-top: 5px;
	}
}	
@media screen and (max-width:500px) {
	.bar_nav{
		display: none;
		top: 0px;
	}
	.menu_w{
		
	}
	.but_mobile{
		outline: none;
		background-color: #660029;
		color: white;
		width: 2em;
		height: 2em;
		position: absolute;
		float: left;
		top: 0px;
		left: 0px;
		border:0px;
		font-size: 30px;
		padding: 5px;
		z-index: 1;
	}
	.nav{
		animation-name: nav;
		animation-duration: 2s;	
	}
	@keyframes nav{
		from {opacity: 0.0;top:0px;right:820px;}
		to {opacity: 1.0;top: 0px;right: 0px;}
	}
	.nav li{
		list-style-type: none;
		margin: 0;
		margin-left: -4px;
	}
	.nav ul{
		padding-left:6px;
	}
}



/*------------------------el header----------------------*/
#button_a{
	width: 160px;
	height: 50px;
	background-color: #660029;
	color:white;
	font-family: 'Arial';
	font-size: 20px;
	border:0px;
	outline:none;
	display: block;
	text-align: center;
	cursor: pointer;
}
#button_a:hover {
	background-color: #f06;
	animation-name: button_ani;
	animation-duration: 1s;
}
#button_a:active{
	background-color: #660029;
}
#button_a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button_a span:after {
  content: ' ';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button_a:hover span {
  padding-right: 25px;
}

#button_a:hover span:after {
  opacity: 1;
  right: 0;
}
@keyframes button_ani {
	from {background-color:#660029;}
	to {background-color: #f06;}
}
#button {
	width: 160px;
	height: 50px;
	background-color: #660029;
	color:white;
	font-family: 'Arial';
	font-size: 20px;
	border:0px;
	outline:none;
	display: block;
	text-align: center;
	cursor: pointer;
}
#button:hover {
	background-color: #f06;
	animation-name: button_ani;
	animation-duration: 1s;
}
#button:active{
	background-color: #660029;
}
#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 25px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}

.cl_toggle{
	position: absolute;
	display: none;
	margin-left: -2px;
}
.cl_toggle li{
	display: block;
	width: 162px;
}
.ac_toggle{
	position: absolute;
	display: none;
	margin-left: -2px;
}
.ac_toggle li{
	display: block;
	width: 162px;
}
#button_ac{
	background-color: #f06;
}
.sh_toggle{
	position: absolute;
	display: none;
	margin-left: -2px;
}
.sh_toggle li{
	display: block;
	width: 162px;
}
#button_sh{
	background-color: #f06;
}

/*------------------------los h van aqui----------------------*/


